*, h2, h3, h6, p {
  padding: 0;
  margin: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.blueBody {
  background-color: black;
  font-family: 'Lato'
}
.blueMainContent {
  margin: 50px 110px;
}
.flexAndWrap {
  display: flex;
  flex-wrap: wrap;
}

.whiteFont {
  color: #fff;
}
.blackFont {
  color: #131313;
}
.greyFont {
  color: #635c5c;
}
.marginB20 {
  margin-bottom: 20px;
}
/*name and profession section*/
/*#212121*/
.nameSection {
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nameText {
    margin: 0;
    font-size: 45px;
    letter-spacing: 8.5px;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}
.professionText {
    letter-spacing: 5.5px;
    font-size: 17px;
    margin-top: 30px;
    text-align: center;
}

.headingUnderLine:after {
  content: '';
  height: 2px;
  background-color: #635c5c;
  display: block;
  margin-top: 15px;
}

/*blue Section*/
.blueLeftSection {
  padding: 0px;
}
.blueBg {
  background-color: #b8d4d6;

}
.bioAllInfo {
  padding: 40px;
  text-align: right;
}
.blueEachSectionContainer {
  margin: 30px 0px;
}
.leftSideHeaderFont {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 2.5px;
}
.progress {
  height: 9px;
  margin-bottom: 0px;
  flex: 1;
  border-radius: 2px;
  /*margin-left: 15px;*/
}
.blueLeftNormalFont {
  font-size: 13px;
  /*margin-top: 5px;*/
  margin-bottom: 5px;
}
.progress-bar {
  background-color: #a3a4a5;
}

.squareIconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.smallSquare {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  border: 1.5px solid #131313;
  border-radius: 3px;
}

/*white Section*/
.rightSide {
  background-color: #fff;
  padding: 0;
}
.rideMain {
  padding: 40px;
}
.rightSideHeaderFont {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 2.5px;
}
.rightSectionContainer {
  margin: 30px 0px;
}
.rightNormalFont {
  font-size: 15px;
  text-align: justify;
}

@media (max-width: 991px) {
  .nameText {
    font-size: 37px;
  }
  .professionText {
    font-size: 15px;
  }
  .blueMainContent {
    margin: 10px;

  }
